body{
	padding: 0;
	margin: 0 10%;
}
a{
	text-decoration: none;
}
.left{
	float: left;
}
.right{
	float: right;
}

.content-center{
	margin-left: 20%;
	width: 70%;
	display: flex;
}
.content-left{
	width: 15%;
	display: inline;
	float: left;
}

.content-right{
	width: 15%;
	display: inline-block;
	background-color: yellow;
	float: left;
}

.center-button{
	margin-left: 50%;
}

.header{
	height: 100px;
	background: #da3;
}

.clear{
	clear: both;
}

.infoMessage{
	border-top: solid black 1px;
	border-bottom: solid black 1px;
	background: lightskyblue;
}

#admin-panel{
	position: absolute;
	width: 10%;
	background: mediumturquoise;
	left: 0;
}
.admin-menu{

}
.project-stage-container{
	display: inline-block;
	margin-right: 25px;
}
.project-stage{
	width: 100px;
	height: 100px;
	border: 1px solid gray;
}
